<mat-nav-list>
  <ng-container *ngFor="let nav of navs">
    <a *ngIf="!nav.external" mat-list-item [routerLink]="nav.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon matListIcon>{{nav.icon}}</mat-icon>
      <span matLine>{{nav.name}}</span>
    </a>
    <a *ngIf="nav.external" mat-list-item [href]="nav.link" target="_blank">
      <mat-icon matListIcon>{{nav.icon}}</mat-icon>
      <span matLine>{{nav.name}}</span>
    </a>
  </ng-container>
  <mat-list-item style="margin-top: 1.2em; padding-top: 1.5em; padding-bottom: 1.7em; background: #f0f4f7">
    <img src="/assets/icon-whitepaper.png" style="width: 30px; height: 30px; margin-right: 10px;"/>
    <a href="https://yosemitex.com/documents/YOSEMITE_Public_Blockchain_Technical_White_Paper_Version_2_ENG_201901a.pdf" target="_blank">
      <span style="color: #62667b; font-size: 13px; margin-bottom: 30px; margin-right: 5px;">
        YOSEMITE
      </span>
      <br/>
      <span style="color: #62667b; font-size: 12px; margin-bottom: 30px; margin-right: 5px;">
        Public Blockchain
      </span>
      <br/>
      <span style="color: #10123d; font-size: 15px;">
        Technical <br/> White Paper
      </span>
    </a>
    <mat-icon>chevron_right</mat-icon>
  </mat-list-item>
</mat-nav-list>
