<mat-toolbar color="#f0f4f7">
  <img src="/assets/icon-whitepaper.png" style="width: 34px; height: 34px; margin-right: 10px;"/>
  <a href="https://infrablockchain.com/documents/InfraBlockchain_Technical_White_Paper_Version_2_4_ENG_202008.pdf" target="_blank">
      <span style="color: #62667b; font-size: 12px; margin-bottom: 30px; margin-right: 5px;">
        InfraBlockchain
      </span>
    <span style="color: #30385d; font-size: 16px; font-weight: bold;">
        Technical White Paper
      </span>
  </a>
  <mat-icon>chevron_right</mat-icon>
</mat-toolbar>
<mat-toolbar color="primary">
  <h1 class="mat-headline">
    <mat-icon style="vertical-align: text-bottom;">view_quilt</mat-icon> {{ 'Dashboard' | translate }}
  </h1>
</mat-toolbar>
<mat-card-title style="background: #f0f4f7 !important; margin-bottom: -0.25em;">

</mat-card-title>
<div>
  <div style="padding:10px;">
    <app-dashboard-chain-status></app-dashboard-chain-status>
  </div>
  <div style="padding:10px;" *ngIf="isMaintenance$ | async">
    <app-dashboard-maintenance></app-dashboard-maintenance>
  </div>
  <div fxLayout.gt-md="row" fxLayout="column">
    <div fxFlex style="padding:10px;">
      <app-dashboard-blocks></app-dashboard-blocks>
    </div>
    <div fxFlex style="padding:10px;">
      <app-dashboard-transactions></app-dashboard-transactions>
    </div>
  </div>
</div>
