<div *ngIf="block; else loading" style="margin:10px;">
  <mat-card>
    <mat-card-content class="table-container">
      <table>
        <tr>
          <td>{{ 'Block Number' | translate }}:</td>
          <td>{{block.block_num}}</td>
        </tr>
        <tr>
          <td>{{ 'Block Producer' | translate }}:</td>
          <td>
            <a [routerLink]="['/producers',block.block.producer]">{{block.block.producer}}</a>
          </td>
        </tr>
        <tr>
          <td>{{ 'Timestamp' | translate }}:</td>
          <td>{{block.block.timestamp | amFromUtc | date:'MMM d, y, h:mm:ss.SSS a'}}</td>
        </tr>
        <tr>
          <td>{{ 'Block ID' | translate }}:</td>
          <td><b>{{block.block_id}}</b></td>
        </tr>
        <tr>
          <td>{{ 'Previous Block ID' | translate }}:</td>
          <td>
            <span *ngIf="block.block_num <= 1">{{block.block.previous}}</span>
            <a [routerLink]="['/blocks',block.block_num-1]" *ngIf="block.block_num > 1">{{block.block.previous}}</a>
          </td>
        </tr>
        <tr>
          <td>{{ 'Transaction Merkle Root' | translate }}:</td>
          <td>{{block.block.transaction_mroot}}</td>
        </tr>
        <tr>
          <td>{{ 'Action Merkle Root' | translate }}:</td>
          <td>{{block.block.action_mroot}}</td>
        </tr>
        <tr>
          <td>{{ 'Number of Transactions' | translate }}:</td>
          <td>{{block.block.transactions.length}}</td>
        </tr>
        <tr>
          <td>{{ 'Transaction Votes (Proof-of-Transaction)' | translate }}:</td>
          <td *ngIf="block.trx_votes && block.trx_votes.length > 0">
            <span *ngFor="let trx_vote of block.trx_votes">
              ( <b>{{trx_vote[0]}}</b> <- <b>{{trx_vote[1]}}</b> )
            </span>
          </td>
          <td *ngIf="!block.trx_votes || block.trx_votes.length == 0">
            None
          </td>
        </tr>
        <tr>
          <td>{{ 'Irreversible' | translate }}:</td>
            <td *ngIf="block.irrAt">true ({{block.irrAt.$date | date: 'MMM d, y, h:mm:ss.SSS a'}})</td>
            <td *ngIf="!block.irrAt"> false </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <div *ngIf="block.block.transactions.length" style="margin-top:20px;">
    <app-block-transactions [block]="block"></app-block-transactions>
  </div>
</div>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
