<div style="margin:10px;">
  <mat-card>
    <mat-card-title>
      <mat-icon style="vertical-align: text-top;">description</mat-icon>
      {{ 'Account Information' | translate }}
    </mat-card-title>
    <mat-card-content class="table-container">
      <table>
        <tr>
          <td>{{ 'Account Name' | translate }}:</td>
          <td>{{account.account_name}}</td>
        </tr>
        <tr>
          <td>{{ 'Created' | translate }}:</td>
          <td>{{account.created | amFromUtc | date:'MMM d, y, h:mm:ss.SSS a'}}</td>
        </tr>
        <!-- <tr>
          <td>{{ 'UpdatedAt' | translate }}:</td>
          <td>{{account.last_code_update | amFromUtc | date:'MMM d, y, h:mm:ss.SSS a'}}</td>
        </tr> -->
        <tr *ngIf="account.system_token_balance">
          <td>{{ 'System Token Balance' | translate }}:</td>
          <td><b>{{account.system_token_balance.total}}</b></td>
        </tr>
        <tr *ngIf="account.system_token_balance.sys_tokens.length > 0">
          <td></td>
          <td>
            <span *ngFor="let sys_token of account.system_token_balance.sys_tokens">
              [ <a [routerLink]="['/accounts',sys_token.t]">{{sys_token.t}}</a> : {{sys_token.qty}} ]
            </span>
          </td>
        </tr>
        <tr *ngIf="account.ram_usage > 0">
          <td>{{ 'RAM Used' | translate }}:</td>
          <td>
            <div style="padding:10px 0;">
              {{account.ram_usage | toKB | number:'1.0-2'}} KB
            </div>
          </td>
        </tr>
        <tr *ngIf="account.cpu_weight > 0">
          <td>{{ 'CPU' | translate }}:</td>
          <td>
            <div style="padding:10px 0;">
              Staked: {{account.total_resources?.cpu_weight}}
              <br /> Used: {{account.cpu_limit.used | number}} µs
              <br /> Available: {{account.cpu_limit.available | number}} µs
              <br /> Max: {{account.cpu_limit.max | number}} µs
            </div>
          </td>
        </tr>
        <tr *ngIf="account.net_weight > 0">
          <td>{{ 'NET' | translate }}:</td>
          <td>
            <div style="padding:10px 0;">
              Staked: {{account.total_resources?.net_weight}}
              <br /> Used: {{(account.net_limit.used) | toKB | number:'1.0-2'}} KB
              <br /> Available: {{(account.net_limit.available) | toKB | number:'1.0-2'}} KB
              <br /> Max: {{(account.net_limit.max) | toKB | number:'1.0-2'}} KB
            </div>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<div style="margin:10px;" *ngIf="account.token_info">
  <mat-card>
    <mat-card-title>
      <mat-icon style="vertical-align: text-top;">description</mat-icon>
      {{ 'Token Information' | translate }}
    </mat-card-title>
    <mat-card-content class="table-container">
      <table>
        <tr>
          <td>{{ 'Token ID' | translate }}:</td>
          <td><a [routerLink]="['/accounts',account.token_info.token_id]">{{account.token_info.token_id}}</a></td>
        </tr>
        <tr>
          <td>{{ 'Token Symbol (precision, name)' | translate }}:</td>
          <td>{{account.token_info.sym}}</td>
        </tr>
        <tr>
          <td>{{ 'Total Supply' | translate }}:</td>
          <td><b>{{account.token_info.total_supply}}</b></td>
        </tr>
        <tr>
          <td>{{ 'Token Info Url' | translate }}:</td>
          <td><a href="{{account.token_info.url}}">{{account.token_info.url}}</a></td>
        </tr>
        <tr>
          <td>{{ 'Token Description' | translate }}:</td>
          <td>{{account.token_info.desc}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
