@import '~@angular/material/theming';

$mat-infrablockchain: (
    50 : #F5F5F5,
    100 : #EEEEEE,
    200 : #E0E0E0,
    300 : #BDBDBD,
    400 : #9E9E9E,
    500 : #757575,
    600 : #616161,
    700 : #424242,
    800 : #212121,
    900 : #111111,
    A100 : #008ED2,
    A200 : #0068D2,
    A400 : #003ED2,
    A700 : #001EC8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Blue
//A100 : #009EE8,
//A200 : #0073E8,
//A400 : #004EE8,
//A700 : #002ED8,

//A100 : #FF5252,
//A200 : #EF1744,
//A400 : #C50000,
//A700 : #A30000,

// Indigo
//50 : #E8EAF6,
//100 : #C5CAE9,
//200 : #9FA8DA,
//300 : #7986CB,
//400 : #5C6BC0,
//500 : #3F51B5,
//600 : #3949AB,
//700 : #303F9F,
//800 : #283593,
//900 : #1A237E,
//A100 : #8C9EFF,
//A200 : #536DFE,
//A400 : #3D5AFE,
//A700 : #304FFE,

// Grey
//50 : #FAFAFA,
//100 : #F5F5F5,
//200 : #EEEEEE,
//300 : #E0E0E0,
//400 : #BDBDBD,
//500 : #9E9E9E,
//600 : #757575,
//700 : #616161,
//800 : #424242,
//900 : #212121,

// Blue Grey
//50 : #ECEFF1,
//100 : #CFD8DC,
//200 : #B0BEC5,
//300 : #90A4AE,
//400 : #78909C,
//500 : #607D8B,
//600 : #546E7A,
//700 : #455A64,
//800 : #37474F,
//900 : #263238,

// Depp Purple
//50 : #EDE7F6
//100 : #D1C4E9
//200 : #B39DDB
//300 : #9575CD
//400 : #7E57C2
//500 : #673AB7
//600 : #5E35B1
//700 : #512DA8
//800 : #4527A0
//900 : #311B92
//A100 : #B388FF,
//A200 : #7C4DFF,
//A400 : #651FFF,
//A700 : #6200EA,

// Deep Orange
//A100 : #FF9E80,
//A200 : #FF6E40,
//A400 : #FF3D00,
//A700 : #DD2C00,

@include mat-core();

$app-light-primary: mat-palette($mat-infrablockchain);
$app-light-accent: mat-palette($mat-infrablockchain, A200, A100, A400);
$app-light-warn: mat-palette($mat-red);
$app-light-theme: mat-light-theme($app-light-primary, $app-light-accent, $app-light-warn);
//.light-theme {
@include angular-material-theme($app-light-theme);
//}

$app-dark-primary: mat-palette($mat-infrablockchain);
$app-dark-accent: mat-palette($mat-infrablockchain, A200, A100, A400);
$app-dark-warn: mat-palette($mat-red);
$app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);
.dark-theme {
@include angular-material-theme($app-dark-theme);
}

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: mat-color($app-light-accent);
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}
